---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

// import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

import { Image } from '@astrojs/image/components';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <!-- <Image class='my-4 mx-auto w-96 max-w-full' src={import('~/assets/images/lplogo.png')} alt='Lindsey Portugal Logo' /> -->

  <div class="container mx-auto gap-6 sm:columns-2 columns-1 my-8">
    <Image class='max-w-full px-2' src={import('~/assets/images/FamilyPhoto-1-2000x2800.jpg')} alt='Family Pic' />
    <div>
      <p>
        Welcome! If you have been to this site before you will notice that is has changed! As my life has shifted and I have even more children (mom of three now), my business goals have changed as well. So if you are here looking for a particular art piece, or a custom work, don't hesitate to reach out - I just don't maintain the website for that purpose anymore. 
      </p>
      <p>
        Going forward this site will be used more as a bio/resume for me. If you would like to check out my active blog, head over to HerHolisticHome.com
      </p>
    </div>
  </div>

</Layout>
