---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

// import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

import { Image } from '@astrojs/image/components';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Image class='my-4 mx-auto w-96 max-w-full' src={import('~/assets/images/lplogo.png')} alt='Lindsey Portugal Logo' />

  <div class="container mx-auto gap-6 sm:columns-2 columns-1 my-8">
    <Image class='max-w-full px-2' src={import('~/assets/images/contactpic.jpg')} alt='Contact Pic' />
    <div>
      <h4 class="text-3xl font-heading my-4">Contact Me</h4>
      <p class="p-4 bg-accent dark:bg-primary">561-379-5109 · Lindsey@LindseyPortugal.com</p>
      <p>
        If you are interested in commissioning a custom art piece, or want to collaborate on a blog post, please send me a note! You can also feel free to email me via the email above. I look forward to hearing from you!
      </p>
    </div>
  </div>

</Layout>
