---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

// import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

import { Image } from '@astrojs/image/components';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Image class='my-4 mx-auto w-96 max-w-full' src={import('~/assets/images/lplogo.png')} alt='Lindsey Portugal Logo' />

  <div class="container mx-auto gap-6 sm:columns-2 columns-1 my-8">
    <Image class='max-w-full px-2' src={import('~/assets/images/FamilyPhoto-1-2000x2800.jpg')} alt='Family Pic' />
    <div class="w-full">
      <p>
        Welcome! If you have been to this site before you will notice that is has changed! As my life has shifted and I have even more children (mom of three now), my business goals have changed as well. So if you are here looking for a particular art piece, or a custom work, don't hesitate to reach out - I just don't maintain the website for that purpose anymore. 
      </p>
      <p>
        Going forward this site will be used more as a bio/resume for me. If you would like to check out my active blog, head over to <a href="https://herholistichome.com">HerHolisticHome.com</a>
      </p>
      <h4 class="text-3xl font-heading my-4">A Little Bit about Me</h4>
      <p>
        When you first meet someone, you usually ask “where are you from?” and “what do you do?”. These questions don't really have a concrete answer for me. I have lived in 7 different states and I have been called a jack of all trades (master of none I assure you! hah!).
      </p>
      <p>
        Currently, I reside in middle Tennessee and I am a homeschooling mom of 3. Taking care of these three little ones and raising them up in the Lord is my greatest calling. This is actually part of the reason my businesses have shifted around over the years. My schooling is in accounting and I hold a CPA. After my first daughter was born, I was able to quit that job and I have a photography businesses in TX. When she was a little older, I stopped shooting weddings because I wanted to spend the weekends with my family. I focused instead on births and family photography. I also am a certified doula (as natural childbirth is a huge passion of mine).
      </p>
      <p>
        After my second daughter was born, we decided that living in TX was just too far away from family, so we moved to SC. I didn't feel like rebuilding my photography business in SC and I decided to focus on my artwork. I taught myself how to watercolor paint and do digital illustrations. While I do love painting, after our move to TN, I decided that keeping an active art business was no longer something I wanted to do.
      </p>
      <p>
        I am super passionate about natural living, organic food, functional medicine, holistic living, homeopathics, and all around clean living. As mentioned above, I am a certified doula and had all of my children naturally (one at a birth center and two at home).
      </p>
      <p>
        I am also a homeschool mom and extremely passionate about helping others start homeschooling and succeeding in homeschooling. Homeschooling isn't easy but it is a calling. I believe all mothers are equipped to teach their children despite the lies the culture has told them.
      </p>
      <p>
        I am a strong Christian, and my faith has been the source of my strength through some of the hardest times. I thank the Lord for all the blessings He has given us. I have always been interested in theology and several times considered getting a Biblical theology degree, Right now I am pursuing my certification in Biblical Counseling (not to be confused with Christian psychology) through IABC. I am really excited about this new venture and feel it is a direction God has been calling me to for a long time.
      </p>
    </div>
  </div>

</Layout>
